.alert {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 30px;
  right: 32px;

  z-index: 999999;
  min-height: 50px;
  width:100%;
  max-width: 400px;
  color:white;

  &__danger {
    background-color: lightcoral;
  }
}
